# =========================
# LOCAL STREAMING DATABASE
# =========================

POSTGRES_HOST=localhost
POSTGRES_DB=crypto_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here

# =========================
# NEON CLOUD WAREHOUSE
# =========================

WAREHOUSE_HOST=your-neon-host.neon.tech
WAREHOUSE_DB=neondb
WAREHOUSE_USER=your_neon_username
WAREHOUSE_PASSWORD=your_neon_password
WAREHOUSE_SSLMODE=require
