AIRFLOW_UID=501
AIRFLOW_PROJ_DIR=/path/to/crypto-streaming-pipeline/airflow

POSTGRES_HOST=host.docker.internal
POSTGRES_DB=crypto_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password

FERNET_KEY=
AIRFLOW__API_AUTH__JWT_SECRET=jwt_secret
AIRFLOW__API_AUTH__JWT_ISSUER=airflow

_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow_admin_password
